<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Sign Up</h4>
    </div>
    <%= form_for :user, url: users_path, method: "post",authenticity_token: true, remote: true, html: {:class =>"form-horizontal", :id => "sign_up"} do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <label for="Name" class="col-sm-3 control-label">Username*</label>
        <div class="col-sm-7">
         <%= f.text_field :name, :class =>"form-control",:id =>"Name", :placeholder => "Name" %>
       </span>
     </div>
     <div class="col-sm-2"></div>
   </div>
   <div class="form-group">
    <label for="inputEmail" class="col-sm-3 control-label">Email id*</label>
    <div class="col-sm-7">
      <%= f.text_field :email, :class =>"form-control",:id =>"user_email",:placeholder =>"Email" %>
      <% if @user.errors[:email].any? %>
      <span class="help-block"><%= @user.errors[:email].first %></span>
      <% end %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">Password*</label>
    <div class="col-sm-7">
      <%= f.password_field :password, :class =>"form-control",:id =>"input_password",:placeholder => "Password" %>
      <% if @user.errors[:password].any? %>
      <span class="help-block"><%= @user.errors[:password].first %></span>
      <% end %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">Confirm*</label>
    <div class="col-sm-7">
      <%= f.password_field :password_confirmation, :class =>"form-control",:id =>"input_confirmation_password",:placeholder => "Password confirmation" %>
      <% if @user.errors[:password].any? %>
      <span class="help-block"><%= @user.errors[:password].first %></span>
      <% end %>
    </div>
    <div class="col-sm-2"></div>
  </div>

</div>
<div class="modal-footer">
  <%= f.submit "Submit", :class =>"btn btn-primary ok-btn-padding" %>
  <!--  <button type="button" class="btn btn-primary ok-btn-padding">OK</button> -->
  <button type="button" class="btn btn-default ok-btn-padding" data-dismiss="modal">Cancel</button>
</div>
<% end %>
</div>
</div>
</div>